<h1 class="text-center mt-3">Registration Form</h1>
<mat-divider></mat-divider>
<form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
<div class="container mt-5">
  <div class="row mx-auto ">
    <div class="col">
        <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input  matInput placeholder="name" formControlName="name">
        <mat-error [hidden]="!f['name'].errors?.['required']">
          First name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f?.['name']?.errors?.['pattern']">
          Must contains alphabets only
        </mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" >
        <mat-error [hidden]="!f['dob'].errors?.['required']">
          DOB is <strong>required</strong>
        </mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <mat-form-field  class="full-width">
        <mat-label>Telephone</mat-label>
        <!-- <span matPrefix>+91 &nbsp;</span> -->
        <input type="text" (keypress)="telfun($event)" matInput placeholder="555-555-1234" formControlName="telphone">
        <mat-error [hidden]="!f['telphone'].errors?.['required']">
          Telephone is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f?.['telphone']?.errors?.['minlength'] || f?.['telphone']?.errors?.['maxlength']">
          Please, Enter 10 digit Mobile Number
        </mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="selectedValue" placeholder="Favorite fruits" formControlName="fruits">
          <mat-option *ngFor="let fruit of fruits" [value]="fruit.name">
            {{ fruit.name }}
          </mat-option>
        </mat-select>
        <mat-error [hidden]="!f['fruits'].errors?.['required']">
          Fruits is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <textarea  matInput placeholder="Address " formControlName="address"></textarea>
        <mat-error [hidden]="!f['address'].errors?.['required']">
          Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-label>Gender : </mat-label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="3">Other</mat-radio-button>
        <mat-error *ngIf="  !f?.['gender']?.valid  && (isFormValid == true || f?.['gender']?.touched)">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox   formControlName="check" color="success">I accept the term and condiition
        <mat-error *ngIf="  !f?.['check']?.valid  && (isFormValid == true || f?.['check']?.touched)">
          check is <strong>required</strong>
        </mat-error>
      </mat-checkbox>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </div>
  </div>
</div>
</form>